#projects {
  background: var(--bg-color-4);
}

#projects .projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media (max-width: 1000px) {
  #projects .projects__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}
@media (max-width: 600px) {
  #projects .projects__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
